<div class="container-fluid">
  <div class="row">
    <div class="custom-header">
      <img src="<%= image_url('logo.svg') %>">
    </div>
    <div class="custom-user-header-details">
      <h1><%= current_user.username %></h1>
      <p><%= current_user.email %></p>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="custom-card">
          <div class="custom-icon">
            <img src="<%= image_url('new-design.png') %>">
          </div>
          <h1>New Design</h1>
        </div>
      </div>
      <div class="col-md-4">
        <div class="custom-card">
          <div class="custom-icon">
            <img src="<%= image_url('my-design-icon.png') %>">
          </div>
          <h1>My Design</h1>
        </div>
      </div>
      <div class="col-md-4">
        <div class="custom-card">
          <div class="custom-icon">
            <img src="<%= image_url('library.png') %>">
          </div>
          <h1>Library</h1>
        </div>
      </div>
    </div>
  </div>
</div>